# Special data types/ collection data types

Python has 4 built-in data structures that can be used to hold a collection of objects, they are list, tuple, set, and dictionary. They can be distinguished into mutable, immutable, set type, and mappings respectively

# Lists

Analogy: Think of a list as a dynamic array or a shopping list where you can add, remove, and modify items.

Characteristics:

**Ordered**: Items have a specific order. (Ordering starts at **0** and goes until **length - 1**)

**Mutable**: Items can be changed, added, or removed.

**Allow Duplicates**: Can contain duplicate items.

<font size = 4>**String** example

In [3]:
# Creating a list
shopping_list = ["apples", "bananas", "carrots"]
print(shopping_list)

['apples', 'bananas', 'carrots']

In [4]:
# length of a list
shopping_list = ["apples", "bananas", "carrots"]
len(shopping_list) # len() -> gives the number of values in the list // Here i am passing the list as a parameter
#len(shopping_list[1])

3

In [7]:
len(shopping_list[1]) # len("bananas") // Here i am passing the value at index position 1 of the list as a parameter

7

In [6]:
len("bananas")

7

In [8]:
# Adding an item to the end of the list
shopping_list.append("dates") # you need to know what this method -> .append() does 
print(shopping_list)

['apples', 'bananas', 'carrots', 'dates']

In [9]:
# Removing an item
shopping_list.remove("bananas")
print(shopping_list)

['apples', 'carrots', 'dates']

In [10]:
# Modifying an item
shopping_list[1] = "blueberries"
print(shopping_list)

['apples', 'blueberries', 'dates']

<font size = 4>**Numeric** example

In [19]:
values = [10, -3, 9, 0, -15]
values.sort() 
print(values)

[-15, -3, 0, 9, 10]

In [20]:
values = [10, -3, 9, 0, -15]
values.sort(reverse = True) # sorts in descending order
print(values)

[10, 9, 0, -3, -15]

<font size = 4>**MIXED** example

In [21]:
mixed_values = [1, "Vikas", False]
print(mixed_values)

[1, 'Vikas', False]

# Tuples

Analogy: Think of a tuple as a record or an entry in a database where the values are fixed.

Characteristics:

**Ordered:** Items have a specific order.

**Immutable:** Items cannot be changed once defined.

**Allow Duplicates:** Can contain duplicate items.

In [22]:
# Creating a tuple
person = ("John", 28, "Engineer")
print(person)

('John', 28, 'Engineer')

In [24]:
# Accessing items
print(person[1])

28

In [25]:
# Trying to modify a tuple (this will raise an error)
person[1] = 29  # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

# Sets

Analogy: Think of a set as a collection of unique items, like a deck of unique playing cards.

Characteristics:

**Unordered:** Items do not have a specific order.

**Mutable:** Items can be added or removed.

**No Duplicates:** Cannot contain duplicate items

In [26]:
# Creating a set
unique_numbers = {1, 2, 3, 4, 5}
print(unique_numbers)

{1, 2, 3, 4, 5}

In [27]:
# Adding an item
unique_numbers.add(6)
print(unique_numbers)

{1, 2, 3, 4, 5, 6}

In [28]:
# Removing an item
unique_numbers.remove(2)
print(unique_numbers)

{1, 3, 4, 5, 6}

In [29]:
# Adding a duplicate item (this will have no effect)
unique_numbers.add(3)
print(unique_numbers)

{1, 3, 4, 5, 6}

In [30]:
# Trying to access an element using its indexed position
print(unique_numbers[0])

TypeError: 'set' object is not subscriptable

# Dictionaries

Analogy: Think of a dictionary as a real-world dictionary where you look up words (keys) to find their meanings (values).

Characteristics:

**Key-Value Pairs:** Items are stored as pairs of keys and values.

**Ordered (since Python 3.7):** Items have a specific order based on insertion.

**Mutable:** Keys and values can be added, changed, or removed.

**No Duplicate Keys:** Keys must be unique, but values can be duplicated.

In [31]:
# Creating a dictionary
student = {"name": "Alice", "age": 24, "major": "Computer Science"}
print(student)

{'name': 'Alice', 'age': 24, 'major': 'Computer Science'}

In [32]:
# Adding a new key-value pair
student["graduation_year"] = 2023
print(student)

{'name': 'Alice', 'age': 24, 'major': 'Computer Science', 'graduation_year': 2023}

In [33]:
# Modifying an existing key-value pair
student["age"] = 25 # used categorical indexing 
print(student)

{'name': 'Alice', 'age': 25, 'major': 'Computer Science', 'graduation_year': 2023}

In [34]:
# Ordered here means, the indexing will be the keys and not a regular numeric indexing ( 0 -> len -1)

student[1]

KeyError: 1

In [35]:
student["major"] # allows categorical indexing

'Computer Science'

In [36]:
# Removing a key-value pair
del student["major"]
print(student)

{'name': 'Alice', 'age': 25, 'graduation_year': 2023}